extends /templates/layouts/default

block header
	.content-header: .app-container: .content-header-inner
		a(href='/players').headerbar-button
			span.ion-arrow-left-c.mr-5
			| Players
		.headerbar-label= player.name.full

block content
	form(method='post' novalidate autocomplete='off').form-horizontal
		input(type='hidden', name='action', value='player.update')
		+flash-messages(messages)
		.form-group.form-row
			label.form-col.form-col--one-quarter Admin Name
			.form-col.form-col--three-quarters: .form-row
				.form-col: +field({ type: 'text',  name: 'name.first',     value: player.name.first, placeholder: 'First name' })
				.form-col: +field({ type: 'text',  name: 'name.last',      value: player.name.last, placeholder: 'Last name' })
		+labelled-field({ label: 'Email Address', name: 'email',   type: 'email',    value: player.email })
		.form-group.form-row
			label.form-col.form-col--one-quarter Password
			.form-col.form-col--three-quarters
					button(type='button' data-show='#change-password-fields' data-hide='this' data-init='true').btn.btn-default Change Password
					#change-password-fields.form-row
						.form-col: +field({ type: 'password',  name: 'password',         placeholder: 'New password' })
						.form-col: +field({ type: 'password',  name: 'password_confirm', placeholder: 'Confirm password' })
		.form-actions
			a(href='?remove' data-confirm='Are you sure? This cannot be undone.').btn.btn-link.pull-right.text-danger Delete
			+button({ label: 'Save changes',       type: 'submit'}).btn-primary