mixin date-range()
	.g-row
		.g-col.g-one-half: select().select-field
			option() --
			option() greater than
			option() less than
			option() between
		.g-col.g-one-half: input(type='text').field.ui-datepicker