.content-footer
	//- .content-footer-brand PingPong Champion
	span Copyright &copy; #{new Date().getFullYear()} PingPong Champion 
	| &nbsp;&middot;&nbsp; 
	a(href='http://www.thinkmill.com.au', target='_blank') Crafted by Thinkmill
