.tabnav
	a(href='/settings' class=subsection === 'index' ? 'active' : null).tabnav-item Centre Details
	a(href='/directory' class=subsection === 'directory' ? 'active' : null).tabnav-item Store Directory
	a(href='/admins' class=subsection === 'admins' ? 'active' : null).tabnav-item Admins