+labelled-chromeless-field({ label: 'Name', name: 'name.first', placeholder: 'First name' })
+labelled-chromeless-field({ label: '', name: 'name.last', placeholder: 'Last name' })

//- +labelled-field({ label: 'Name',  placeholder: 'Store Name',      name: 'name',   value: formData ? formData.name : '' })
+labelled-chromeless-field({ label: 'Phone', placeholder: '(02) 9876 5432',  name: 'phone',  value: formData ? formData.phone : '' })
+labelled-chromeless-field({ label: 'Email', type: 'email',    name: 'email', placeholder: 'name@example.com', value: formData ? formData.email : '' })
+labelled-chromeless-field({ label: 'Phone', type: 'password',  name: 'password',         placeholder: 'Enter Password' })
+labelled-chromeless-field({ label: '', type: 'password',  name: 'password_confirm', placeholder: 'Confirm Password' })