// 
// Podium
// ==============================


// base

.podium {
	.display-flex();
	.align-items(flex-end);
	.justify-content(center);
}


// rank

.podium-rank {
	min-width: 10%;
	padding: 20px;
	text-align: center;
}

// variants
.podium-rank-1 {
	-webkit-order: 2;
	order: 2;
	min-width: 20%;

	.podium-trophy {
		color: @gold;
		font-size: 128px;
		font-size: 10vh;
	}
}
.podium-rank-2 {
	-webkit-order: 1;
	order: 1;
	.podium-trophy {
		color: @silver;
	}
}
.podium-rank-3 {
	-webkit-order: 3;
	order: 3;
	.podium-trophy {
		color: @bronze;
	}
}


// photo

.podium-photo {
	// border: 2px solid @gray-lighter;
	border-radius: 50%;
	overflow: hidden;
	padding: 2px;
}
.podium-photo-src {
	border-radius: 50%;
	display: block;
	max-width: 100%;
}


// trophy

.podium-trophy {
	display: inline-block;
	font-size: 64px;
	font-size: 5vh;
}


// text

.podium-text {
	background-color: white;
	position: relative;
	
	// when we re-introduce images
	// margin-top: -40px;
}

.podium-title {
	font-size: 48px;
	font-size: 5vh;
	font-weight: 500;
}
.podium-subtitle {
	color: @gray-light;
	text-transform: uppercase;
}




// 
// Dials
// ==============================


// base

.player-dials {
	.display-flex();
	.align-items(baseline);
	.justify-content(center);
	margin-bottom: 20px;
}


// dial

.player-dial-wrapper {
	// padding: 10px;
}

.player-dial {
	.square(100px);
	line-height: 100px;
	padding: 20px 33px;
	text-align: center;
}
.player-dial-inner {
	display: inline-block;
	line-height: 1;
}

// variants
.player-dial-score {
	.square(140px);
	border-radius: 50%;
	box-shadow: inset 0 0 0 4px @gray-lighter;
	line-height: 140px;
	position: relative;

	&:before,
	&:after {
		.square(140px);
		.rotate(45deg);
		border-radius: 50%;
		border: 4px solid transparent;
		border-top-color: @app-primary;
		content: "";
		position: absolute;
		left: 0;
		top: 0;
	}
	&:after {
		.rotate(125deg);
	}
}


// icon

.player-dials-icon {
	color: @app-primary;
	font-size: 32px;
}


// copy

.player-dials-title {
	font-size: @font-size-large;
	font-weight: 300;
}
.player-dials-subtitle {
	color: @gray-light;
	font-size: @font-size-small;
	font-weight: 300;
	// text-transform: uppercase;
}